<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>com.divya.student.InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.divya.student.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteValidate</servlet-name>
        <servlet-class>com.divya.student.DeleteValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectServlet</servlet-name>
        <servlet-class>com.divya.student.SelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectValidate</servlet-name>
        <servlet-class>com.divya.student.SelectValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.divya.student.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateValidate</servlet-name>
        <servlet-class>com.divya.student.UpdateValidate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidateServlet</servlet-name>
        <servlet-class>com.divya.extra.ValidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServletF</servlet-name>
        <servlet-class>com.divya.faculty.InsertServletF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteValidateF</servlet-name>
        <servlet-class>com.divya.faculty.DeleteValidateF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServletF</servlet-name>
        <servlet-class>com.divya.faculty.DeleteServletF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServletF</servlet-name>
        <servlet-class>com.divya.faculty.UpdateServletF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateValidateF</servlet-name>
        <servlet-class>com.divya.faculty.UpdateValidateF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectValidateF</servlet-name>
        <servlet-class>com.divya.faculty.SelectValidateF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectServletF</servlet-name>
        <servlet-class>com.divya.faculty.SelectServletF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteValidate</servlet-name>
        <url-pattern>/DeleteValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectServlet</servlet-name>
        <url-pattern>/SelectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectValidate</servlet-name>
        <url-pattern>/SelectValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateValidate</servlet-name>
        <url-pattern>/UpdateValidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidateServlet</servlet-name>
        <url-pattern>/ValidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServletF</servlet-name>
        <url-pattern>/InsertServletF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteValidateF</servlet-name>
        <url-pattern>/DeleteValidateF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServletF</servlet-name>
        <url-pattern>/DeleteServletF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServletF</servlet-name>
        <url-pattern>/UpdateServletF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateValidateF</servlet-name>
        <url-pattern>/UpdateValidateF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectValidateF</servlet-name>
        <url-pattern>/SelectValidateF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectServletF</servlet-name>
        <url-pattern>/SelectServletF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
</web-app>
